{% extends 'base.html' %}
{% block content %}
<form align="center" method="post"> {% csrf_token %}
	<style type="text/css">
	p.serif {
		font-family: "Times New Roman", Times, serif;
	}
	</style>
	<p align="center"><u><font size="4"> Change employee details</font></u></p>
	<div> {% for message in messages %}
		<h4><p style="color: green;" class="serif"> {{message}}</p> </h4> {% endfor %} 
	</div>
	{{ context_form.as_p }}
	<input type='submit' value='Save' button type="button" class="btn btn-danger">
	<a href="/records/"><button type="button" class="btn btn-danger">Home</button></a>                                                                                         	
</form>
</body>
</html>
{% endblock %}