{% extends 'base.html' %} 
{% block content %}
<form align="center" method="POST"> {% csrf_token %}
	<style type="text/css">
	p.serif {
		font-family: "Times New Roman", Times, serif;
	}
	</style>
	<h3><p class="serif"><u>Add employee</u></p></h1>
	<div>
		{% for message in messages %}
		    <h4><p style="color: green;" class="serif"> {{message}}</p> </h4>
		{% endfor %}
	</div>
	{{ Form.as_p }}
<input type='submit' value='Save' class="btn btn-danger"> 
<a href="/records/"><button type="button" class="btn btn-danger">Home</button></a>                                                                                         
</form>
{% endblock %}